In [1]:
import pandas as ps
data= ps.read_csv('/home/cguccione/Downloads/A_HomSap_First50Lines.csv', dtype={0:object, 1:int, 2:int, 3:object, 4:object, 5:object})
data.head()

,SISRS_contig-2000000/702,5,0,Noncoding_HNRNPC,Noncoding,HNRNPC,NA
0,SISRS_contig-2000000/739,0,0,Noncoding_HNRNPC,Noncoding,HNRNPC,NaN
1,SISRS_contig-2000000/789,2,0,Noncoding_HNRNPC,Noncoding,HNRNPC,NaN
2,SISRS_contig-2000000/809,1,0,Noncoding_HNRNPC,Noncoding,HNRNPC,NaN
3,SISRS_contig-4000000/51,2,0,Intergenic_Chr2_595,Intergenic,Chr2_595,NaN
4,SISRS_contig-4000000/88,1,0,Intergenic_Chr2_595,Intergenic,Chr2_595,NaN

In [3]:
print (data.iloc[0][0])

SISRS_contig-2000000/739

In [5]:
print (data.loc[0]['NA'])

nan

In [8]:
print (data.iloc[3])
#Selects the row and puts the first row to the left 
#for compairision

SISRS_contig-2000000/702    SISRS_contig-4000000/51
5                                                 2
0                                                 0
Noncoding_HNRNPC                Intergenic_Chr2_595
Noncoding                                Intergenic
HNRNPC                                     Chr2_595
NA                                              NaN
Name: 3, dtype: object

In [11]:
print(data.loc[:,'Noncoding'])
#Prints the entire column with the title you include
#The coulmn number is on the left for comparison

0      Noncoding
1      Noncoding
2      Noncoding
3     Intergenic
4     Intergenic
5     Intergenic
6     Intergenic
7     Intergenic
8      Noncoding
9      Noncoding
10     Noncoding
11     Noncoding
12     Noncoding
13     Noncoding
14     Noncoding
15     Noncoding
16     Noncoding
17     Noncoding
18     Noncoding
19     Noncoding
20     Noncoding
21    Intergenic
22    Intergenic
23    Intergenic
24    Intergenic
25    Intergenic
26    Intergenic
27     Noncoding
28     Noncoding
29     Noncoding
30     Noncoding
31     Noncoding
32     Noncoding
33     Noncoding
34     Noncoding
35    Intergenic
36    Intergenic
37    Intergenic
38    Intergenic
39    Intergenic
40    Intergenic
41    Intergenic
42    Intergenic
43    Intergenic
44    Intergenic
45    Intergenic
46    Intergenic
47    Intergenic
Name: Noncoding, dtype: object

In [4]:
data.replace(['Noncoding', 'Intergenic', 'CDS'],[0,1,2])
#Replaces each of the words with a number

,SISRS_contig-2000000/702,5,0,Noncoding_HNRNPC,Noncoding,HNRNPC,NA
0,2000000739,0,0,Noncoding_HNRNPC,0,HNRNPC,NaN
1,2000000789,2,0,Noncoding_HNRNPC,0,HNRNPC,NaN
2,2000000809,1,0,Noncoding_HNRNPC,0,HNRNPC,NaN
3,400000051,2,0,Intergenic_Chr2_595,1,Chr2_595,NaN
4,400000088,1,0,Intergenic_Chr2_595,1,Chr2_595,NaN
5,400000096,1,0,Intergenic_Chr2_595,1,Chr2_595,NaN
6,4000000201,5,0,Intergenic_Chr2_595,1,Chr2_595,NaN
7,4000000327,0,0,Intergenic_Chr2_595,1,Chr2_595,NaN
8,5000000105,7,0,Noncoding_FTO,0,FTO,NaN
9,5000000560,0,0,Noncoding_FTO,0,FTO,NaN
10,600000094,5,0,Noncoding_LRBA,0,LRBA,NaN
11,6000000476,5,0,Noncoding_LRBA,0,LRBA,NaN
12,6000000515,7,0,Noncoding_LRBA,0,LRBA,NaN
13,1000000078,1,0,Noncoding_PLPPR1,0,PLPPR1,NaN
14,10000000120,5,0,Noncoding_PLPPR1,0,PLPPR1,NaN
15,10000000125,0,0,Noncoding_PLPPR1,0,PLPPR1,NaN
16,10000000211,2,0,Noncoding_PLPPR1,0,PLPPR1,NaN
17,10000000246,2,0,Noncoding_PLPPR1,0,PLPPR1,NaN
18,10000000280,3,0,Noncoding_PLPPR1,0,PLPPR1,NaN
19,12000000360,1,0,Noncoding_STAU2,0,STAU2,NaN
20,13000000395,7,0,Noncoding_NTNG1,0,NTNG1,NaN
21,21000000159,1,0,Intergenic_Chr2_601,1,Chr2_601,NaN
22,21000000547,6,0,Intergenic_Chr2_601,1,Chr2_601,NaN
23,2200000062,1,0,Intergenic_Chr8_287,1,Chr8_287,NaN
24,22000000152,5,0,Intergenic_Chr8_287,1,Chr8_287,NaN
25,22000000170,2,0,Intergenic_Chr8_287,1,Chr8_287,NaN
26,22000000227,5,0,Intergenic_Chr8_287,1,Chr8_287,NaN
27,26000000171,2,0,Noncoding_IDE,0,IDE,NaN
28,2800000030,1,0,Noncoding_CDADC1,0,CDADC1,NaN
29,28000000153,1,0,Noncoding_CDADC1,0,CDADC1,NaN
30,28000000258,5,0,Noncoding_CDADC1,0,CDADC1,NaN
31,3100000070,1,0,Noncoding_XYLT1,0,XYLT1,NaN
32,3100000092,2,0,Noncoding_XYLT1,0,XYLT1,NaN
33,31000000123,2,0,Noncoding_XYLT1,0,XYLT1,NaN
34,31000000207,5,0,Noncoding_XYLT1,0,XYLT1,NaN
35,32000000146,1,0,Intergenic_Chr6_75,1,Chr6_75,NaN
36,32000000178,1,0,Intergenic_Chr6_75,1,Chr6_75,NaN
37,32000000198,2,0,Intergenic_Chr6_75,1,Chr6_75,NaN
38,32000000212,7,0,Intergenic_Chr6_75,1,Chr6_75,NaN
39,32000000229,2,0,Intergenic_Chr6_75,1,Chr6_75,NaN
40,32000000236,2,0,Intergenic_Chr6_75,1,Chr6_75,NaN
41,32000000249,7,0,Intergenic_Chr6_75,1,Chr6_75,NaN
42,32000000299,3,0,Intergenic_Chr6_75,1,Chr6_75,NaN
43,3400000089,2,0,Intergenic_Chr7_505,1,Chr7_505,NaN
44,34000000146,1,0,Intergenic_Chr7_505,1,Chr7_505,NaN
45,34000000209,5,0,Intergenic_Chr7_505,1,Chr7_505,NaN
46,34000000222,1,0,Intergenic_Chr7_505,1,Chr7_505,NaN
47,34000000262,4,0,Intergenic_Chr7_505,1,Chr7_505,NaN

In [18]:
for index,row in data.iterrows():
    print(row[0]) 
#Loops through the data frame and prints out 
#everything in that row

SISRS_contig-2000000/739
SISRS_contig-2000000/789
SISRS_contig-2000000/809
SISRS_contig-4000000/51
SISRS_contig-4000000/88
SISRS_contig-4000000/96
SISRS_contig-4000000/201
SISRS_contig-4000000/327
SISRS_contig-5000000/105
SISRS_contig-5000000/560
SISRS_contig-6000000/94
SISRS_contig-6000000/476
SISRS_contig-6000000/515
SISRS_contig-10000000/78
SISRS_contig-10000000/120
SISRS_contig-10000000/125
SISRS_contig-10000000/211
SISRS_contig-10000000/246
SISRS_contig-10000000/280
SISRS_contig-12000000/360
SISRS_contig-13000000/395
SISRS_contig-21000000/159
SISRS_contig-21000000/547
SISRS_contig-22000000/62
SISRS_contig-22000000/152
SISRS_contig-22000000/170
SISRS_contig-22000000/227
SISRS_contig-26000000/171
SISRS_contig-28000000/30
SISRS_contig-28000000/153
SISRS_contig-28000000/258
SISRS_contig-31000000/70
SISRS_contig-31000000/92
SISRS_contig-31000000/123
SISRS_contig-31000000/207
SISRS_contig-32000000/146
SISRS_contig-32000000/178
SISRS_contig-32000000/198
SISRS_contig-32000000/212
SISRS_contig-32000000/229
SISRS_contig-32000000/236
SISRS_contig-32000000/249
SISRS_contig-32000000/299
SISRS_contig-34000000/89
SISRS_contig-34000000/146
SISRS_contig-34000000/209
SISRS_contig-34000000/222
SISRS_contig-34000000/262

In [11]:
clean_data=[]
for index,row in data.iterrows():
    #Gets just the numbers to work with out of
    #the SISRS_contig and names them clean
    head,tail= (row[0]).split("-")
    clean=tail.replace("/","")
    clean_data.append(clean)

data['SISRS_contig-2000000/702']=clean_data
data.head()

ValueError: not enough values to unpack (expected 2, got 1)

In [1]:
import pandas as ps

#Imports all the data and names the coluns
data= ps.read_csv('/home/cguccione/Downloads/A_HomSap_First50Lines.csv', dtype={0:object, 1:int, 2:int, 3:object, 4:object, 5:object}, header=None)
data.columns=['Contig', 'Split', 'Gap', 'Long Name', 'Type', 'Locus', 'Gene']

#Fixes the Gene row
data['Gene'].fillna(0, inplace=True)
##NEED to try this on another data set 
#that acutally has genes in final column

#Fixes the Contig Row
clean_data=[]
for index,row in data.iterrows():
    
    #Gets just the numbers to work with out of
    #the SISRS_contig and names them clean
    head,tail= (row[0]).split("-")
    clean=tail.replace("/","")
    clean_data.append(clean)
data['Contig']=clean_data

#Fixes the Type Row
data=data.replace(['Noncoding', 'Intergenic', 'CDS'],[0,1,2])
#Replaces each of the words with a number
#####################################




#print (data['Gene'])
data.head()

       Contig  Split  Gap            Long Name  Type     Locus  Gene
0  2000000702      5    0     Noncoding_HNRNPC     0    HNRNPC   0.0
1  2000000739      0    0     Noncoding_HNRNPC     0    HNRNPC   0.0
2  2000000789      2    0     Noncoding_HNRNPC     0    HNRNPC   0.0
3  2000000809      1    0     Noncoding_HNRNPC     0    HNRNPC   0.0
4   400000051      2    0  Intergenic_Chr2_595     1  Chr2_595   0.0

In [2]:
#Fixing the Long Name Row
cleanLongName=[]
longNameD={}
count=0;
for index,row in data.iterrows():
    if row[3] not in longNameD.keys():
        longNameD[row[3]]=count;
        count=count+1
    cleanLongName.append(longNameD[row[3]])
data['Long Name']=cleanLongName
data.head()

       Contig  Split  Gap  Long Name  Type     Locus  Gene
0  2000000702      5    0          0     0    HNRNPC   0.0
1  2000000739      0    0          0     0    HNRNPC   0.0
2  2000000789      2    0          0     0    HNRNPC   0.0
3  2000000809      1    0          0     0    HNRNPC   0.0
4   400000051      2    0          1     1  Chr2_595   0.0

In [4]:
#Fianl Draft: Should only have to run this
import pandas as ps

#Imports all the data and names the coluns
data= ps.read_csv('/home/cguccione/Downloads/A_HomSap_First50Lines.csv', dtype={0:object, 1:int, 2:int, 3:object, 4:object, 5:object}, header=None)
data.columns=['Contig', 'Split', 'Gap', 'Long Name', 'Type', 'Locus', 'Gene']

#Fixes the Gene row
data['Gene'].fillna(0, inplace=True)
##NEED to try this on another data set 
#that acutally has genes in final column

#Fixes the Contig Row
clean_data=[]
for index,row in data.iterrows():
    #Gets just the numbers to work with out of
    #the SISRS_contig and names them clean
    head,tail= (row[0]).split("-")
    clean=tail.replace("/","")
    clean_data.append(clean)
data['Contig']=clean_data

#Fixes the Type Row
#Replaces each of the words with a number
data=data.replace(['Noncoding', 'Intergenic', 'CDS'],[0,1,2])

#Fixing the Long Name Row
cleanLongName=[]
longNameD={}
count=0;
for index,row in data.iterrows():
    if row[3] not in longNameD.keys():
        longNameD[row[3]]=count;
        count=count+1
    cleanLongName.append(longNameD[row[3]])
data['Long Name']=cleanLongName

#Fixing the Locus Row
cleanLocus=[]
LocusD={}
countL=0;
for index,row in data.iterrows():
    if row[5] not in LocusD.keys():
        LocusD[row[5]]=countL;
        countL=countL+1
    cleanLocus.append(LocusD[row[5]])
data['Locus']=cleanLocus

data.head()

       Contig  Split  Gap  Long Name  Type  Locus  Gene
0  2000000702      5    0          0     0      0   0.0
1  2000000739      0    0          0     0      0   0.0
2  2000000789      2    0          0     0      0   0.0
3  2000000809      1    0          0     0      0   0.0
4   400000051      2    0          1     1      1   0.0